body {
       background: #55EFC4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #55EFC4, #8DC26F);
	background: -moz-linear-gradient(to top, #55EFC4, #8DC26F);
	background: -o-linear-gradient(to top, #55EFC4, #8DC26F);
	background: linear-gradient(to top, #55EFC4, #005b96);
	background-size: cover;
	background-attachment: fixed;	
	font-family: 'Open Sans', sans-serif;
}
/
.control-page{
	min-height: 100vh; /*dont think i need it*/
	position: relative;
	

}

h1{
	color:#fff;
	position:absolute;
	left:50%;
	top:20%;
	transform: translate(-50%, -50%);
	}
	

.control{
	position:absolute;
	left:50%;
	top:60%;
	transform: translate(-50%, -50%);
	
}
.top{
	padding-left:27%;
}
.middle{
	display:flex;
	flex-direction: row;
	

}

.logo{
	width:100%;
	padding: 100px;

}
.logo img{
	width:100px;
	position:fixed;
	top:0;
	right:0;
}


.button{
  background-color: #024d7d; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid #024d7d;
}


.button:hover {
  background-color: white;
  color: black;
}
.stop{
	padding: 20px;
	margin:20px;
	border-radius: 50%;
	background-color: #e0463b;
    color: white;
	border: 2px solid #e0463b;
}
